<div class="row">

  <div *ngFor="let item of listadoGifs" class="col-md-3 col-sm-6">
    <div class="card" style="width: 18rem;">
      <img [src]="item.images.original.url" class="card-img-top" [alt]="item.title" >
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <a [href]="item.bitly_gif_url" class="btn btn-primary">Giphy</a>
      </div>
    </div>
  </div>
  <ng-template>
    <!-- En pantallas medianas cada columna ocupa 3/12 -->
    <!-- En pantallas pequeñas cada columna ocupa 6/12 -->
    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/Fino señores 1.png" class="card-img-top" alt="racismo">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/redditsave.com_no_to_racism-10iot3fqxwd71.gif" class="card-img-top"
            alt="racismo">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/cat-huh.gif" class="card-img-top" alt="uh?">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/redditsave.com__-tc0vya7ie8s91.gif" class="card-img-top" alt="gato bailongo">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/Fino Señores 2.png" class="card-img-top" alt="racismo">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/InShot_20201123_170502484.gif" class="card-img-top" alt="racismo">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/vegetta777-vegetta.gif" class="card-img-top" alt="vegetta777">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/FB_IMG_1624489150473.jpg" class="card-img-top" alt="racismo">
        </div>
      </div>
    </div>
    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/Fino Señores 3.png" class="card-img-top" alt="fino1">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/rata.gif" class="card-img-top" alt="rata">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/ratasCoche.gif" class="card-img-top" alt="rata">
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-3 col-sm-6">

      <!-- card, para hacer "tarjetas" -->
      <!-- margin-botton 2 -->
      <!-- background dark -->
      <div class="card mb-2 text-center bg-dark">

        <!-- TODO: Crear imagen -->
        <div class="card-body">
          <img src="../../../../assets/rataDedo.jpg" class="card-img-top" alt="rata">
        </div>
      </div>
    </div>
  </ng-template>


</div>
